.start-background-section {
    padding-bottom: 550px;
    padding-top: 40px;
}
.start-background__curvy-background {
    background-image: url("../assets/images/bg-curvy-desktop.svg");
}
.start-section {
    padding-bottom: 150px;
}
.start-section-info {
    top: -300px;
}
.benefits-section {
    grid-template: auto / 270px 270px;
    grid-gap: 80px 40px;
}
.productive-section {
    grid-template: auto / minmax(260px, 350px) 270px;
    grid-gap: 0 40px;
}
.opinions-container {
    grid-template: auto / auto auto;
    grid-gap: 20px;
}
.main-footer-section {
    grid-template: auto / 1fr 1fr;
    grid-gap: 30px;
}
.get-started-card {
    display: block;
    top: -112.5px;
}
.get-started-input {
    display: inline-block;
    width: 60%;
    margin-right: 20px;
}
.get-started-button {
    display: inline-block;
    width: 30%;
}
.contact-info {
    margin: 0 auto;
}
.links-info {
    display: flex;
    justify-content: center;
}
.social-media {
    grid-column: 1 / 3;
}

